[user]
	name = joshuaswickirl
	email = joshuaswickirl@gmail.com

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[rebase]
	autoStash = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	amend = commit --amend --no-edit
	undo = reset HEAD~1 --mixed
